body {
    background-color: #ffe6e6;
}

/* Contenedor de las cartas */
.memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre las cartas */
    max-width: 600px; /* Ancho máximo del juego de memoria */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ff6699;
    border-radius: 16px;
}

/* Estilo base para las cartas */
.card {
    width: 100px; /* Ajusta el tamaño de la carta según sea necesario */
    height: 100px; /* Ajusta el tamaño de la carta según sea necesario */
    position: relative;
    perspective: 1000px; /* Añade perspectiva para el efecto 3D */
    cursor: pointer;
    margin: 5px; /* Ajusta el margen entre las cartas según sea necesario */
}

    /* Estilo para la cara frontal */
    .card .front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    /* Estilo para la cara trasera */
    .card .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: rotateY(180deg); /* Inicialmente oculta la cara trasera */
    }

    /* Estilo para las imágenes dentro de las cartas */
    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
        border-radius: 5px; /* Añade bordes redondeados a las imágenes si es necesario */
    }

.congratulations-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo más suave */
    border-radius: 15px; /* Borde redondeado más pronunciado */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave y extendida */
    z-index: 1000;
    max-width: 400px; /* Ancho máximo para mejor legibilidad */
    width: 90%; /* Ajuste del ancho */
}

    .congratulations-screen p {
        margin-bottom: 15px; /* Espacio entre párrafos aumentado */
        font-size: 18px; /* Tamaño de fuente aumentado */
    }

    .congratulations-screen button {
        padding: 12px 24px; /* Aumento del padding del botón */
        font-size: 16px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 8px; /* Borde del botón más redondeado */
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }

        .congratulations-screen button:hover {
            background-color: #2980b9;
        }


.hidden {
    display: none;
}
