/* Estilos generales */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 2px solid #ff6699;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.3);
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #ff3366;
    font-size: 2rem;
}

.images-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

    .images-container img {
        border-radius: 16px;
        max-width: 300px;
        max-height: 300px;
        height: auto;
        object-fit: contain;
        box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);
        transition: transform 0.3s ease-in-out;
    }

        .images-container img:hover {
            transform: scale(1.1);
        }

#result {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff3366;
}

button {
    background-color: #ff6699;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #ff3366;
    }

#restart {
    margin-top: 20px;
}

    #restart p {
        margin-bottom: 10px;
        color: #ff3366;
    }

#timer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff3366;
}

@media (max-width: 480px) {
    .images-container {
        flex-direction: column;
    }

        .images-container img {
            margin: 10px 0;
        }
}

.info-message, .lost-message {
    display: none;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #ff3366;
}

.countdown {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff3366;
}

#level-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff3366;
}
