/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el cuerpo ocupe toda la altura visible del viewport */
}

.container {
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

#game {
    text-align: center;
    margin-top: 20px;
}

#riddle {
    font-size: 1.2em;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

    button:hover {
        background-color: #45a049;
    }

#feedback {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#next-game {
    margin-top: 20px;
    background-color: #008CBA;
}

    #next-game:hover {
        background-color: #007a8c;
    }
